<!DOCTYPE HTML>
<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<body>
<div class="container" layout:fragment="content">

    <div class="jumbotron">
        <h1>Execute remotely</h1>
        <p th:text="${sshServer}" class="text-muted">SshServer</p>
        <div class="input-group">
            <input id="command" type="text" class="form-control" placeholder="Example: ls -lah ..." />
            <span class="input-group-btn">
                <button id="executeBtn" class="btn btn-success" type="button">Execute</button>
            </span>
        </div>
    </div>

    <pre id="output" class="pre" style="display:none;"></pre>
    <button id="cancelCurrentExecutionBtn" type="button" class="btn btn-xs btn-default" style="display:none;">Cancel</button>
    <script>
        $(function(){
            var EOT = '\u2404';
            var loadingIcon = $('<img />', {'src':'/images/ajax-loader.gif'});
            function loadExecutionOutput(key){
                var container = $('#output');
                var loadedOutput = container.text();
                $('#cancelCurrentExecutionBtn').attr('data-key', key);


                $.get('/remoteExecutor/log' , {key: key, offset: loadedOutput.length },function(data){
                    loadingIcon.remove();
                    container.append(data);
                    if(data.length == 0 || data.charAt(data.length-1) != EOT){
                        container.append(loadingIcon);
                        setTimeout(function(){loadExecutionOutput(key)} , 1000);
                    }else{
                        $('#cancelCurrentExecutionBtn').hide();
                    }
                });
            }
            function executeCommand(command){
                $('#output').text('').show();
                $('#cancelCurrentExecutionBtn').prop('disabled' , false).show();
                $.post('/remoteExecutor/execute', {command: command}, loadExecutionOutput);
            }

            $('#executeBtn').on('click', function(){
                executeCommand( $('#command').val());
            });

             $('#command').on('keypress' , function(event){
                if(event.which == 13){
                    executeCommand( $('#command').val());
                }
             });

             $('#cancelCurrentExecutionBtn').on('click',function(){
                $('#cancelCurrentExecutionBtn').prop('disabled' , true);
                $.post('/remoteExecutor/cancel', {key: $('#cancelCurrentExecutionBtn').attr('data-key')});
             });
        });
    </script>


</div>
</body>
</html>