<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>SSH Remote executor</title>

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/sticky-navbar.css" th:href="@{/css/sticky-navbar.css}" rel="stylesheet"/>
    <link href="../static/css/sticky-footer.css" th:href="@{/css/sticky-footer.css}" rel="stylesheet"/>
    <script src="../static/js/jquery-3.2.0.min.js" th:src="@{/js/jquery-3.2.0.min.js}"></script>
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SSH Remote executor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${currentPage == 'executor'} ? 'active'"><a href="/remoteExecutor">Execute</a></li>
                <li th:classappend="${currentPage == 'browser'} ? 'active'"><a href="/remoteFileSystem">Browser</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Username</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" layout:fragment="content">
    Hello world!
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">
            Source code <a href="https://github.com/smkv/remote_executor" target="_blank">https://github.com/smkv/remote_executor</a>
        </p>
    </div>
</footer>


<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
